.cList{
    font-family: sans-serif;
}
.head-title{
  width: 90%;          
  max-width: 620px;    
}
.outer-box{
    display: flex;
    width: 620px;
    border: 1px solid #ddd;      
    border-radius: 3px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
    height: fit-content;
}
.head-title,
.outer-box {
  margin: 0 auto 20px auto;
}
.outer-box img{
    height: 160px;
    width: 240px;
    padding: 20px;
}

.search-container{
    width: 620px;
    margin: 0 auto 10px;
    position: relative;
}
.search-container input{
  width: 565px;
  padding: 10px 40px 10px 15px; 
  font-size: 16px;
  border: 1px solid #ccc;
}
.text-cont button {
  background: #fff;
  border: 2px solid #006bdd;  
  color: blue;
  padding:12px;
  margin-right: 8px;
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 2px blue;
  font-size: 15px;
}

.text-cont button:hover {
  background: #9ac6f5;
  color: blue;
  
}
.map{
    width: 158px;
    
}
.detail{
    width: 158px;
}
.search-container .search-icon  {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #666;
  pointer-events: none;
}

.outer {
  display: flex;
  flex-wrap: wrap;   
  margin: 40px auto; 
  max-width: 800px;
  padding: 20px;
  font-family: sans-serif;
}

.outer img {
  width: 350px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.text-det {
  flex: 1;
  min-width: 280px; 
}

.borders {
  border: 2px solid rgb(134, 131, 131);
  max-width: 50%;
  margin: 20px auto;
  padding: 20px;
}

.borders h3 {
  margin-left: 20px;
}

.border-flags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.border-flags img {
  width: 220px;
  height: 200px;
  border: 2px solid rgb(147, 147, 147);
  border-radius: 6px;
}

.text-det{
  margin-left: 90px;
  margin-top: 50px;
}
.outer{
      font-family: sans-serif;
}
.borders{
        font-family: sans-serif;

}